/** stilo personalisado **/

#logo img {
    width: 100px;
}

.logo a strong {
    font-size: 22px;
}
.menu-area nav ul li a {
    font-size: 22px;
}
.menu-area nav ul li a:hover {
    color: #15cfe5;
}
.logo a strong:hover {
    color: #15cfe5;
}

.text-bg h1 strong {
    color: hwb(180 1% 4% / 0.753);
}

.tarifa h1 {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
}
#tipo-tarifa {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    text-align: center;
    text-decoration: solid;
}

#bg-pub {
    background-color: #095474c2;
    border-radius: 0px;
    width: 55%;
    
}

#bg-pub h1 {
font-size: 20px;
text-align: center;
color: #ffffff;
text-decoration: solid;
font-family: Arial, Helvetica, sans-serif;

}


#btnbilhte a:hover {
    background-color: #15cfe5;
    border-color:#15cfe5;
}

.tarifasc{

    margin-left: 90px;
    margin-right: 90px;
    position: relative;
}


.full-box, .half-box{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color: #323232;

}

input, label{
    display: block;
    width: 100%;
}